* {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.col-lg-12 {
  position: relative;
  height: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

body {
  font-size: 14px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}

body .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

body textarea {
  border-color: #ccc;
}

body textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

body a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body a:hover {
  text-decoration: none;
}

body a:focus {
  outline: none;
}

body p {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.875em;
  color: #666e74;
  font-size: 17px;
  margin: 0;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

body button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body input .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  line-height: 1.22em;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus {
  outline: none;
}

h6 {
  font-size: 20px;
}

.no-pad {
  padding: 0;
}

.sec-padding {
  padding: 80px 0;
}

.sec-title {
  padding: 10px 0;
  color: #3b3b3b;
}

.sec-title h3 {
  position: relative;
  letter-spacing: 1px;
  padding: 10px 0;
}

.sec-title h3::after {
  content: "";
  height: 4px;
  width: 12%;
  background-color: #1e5cb3;
  top: 95%;
  left: 3%;
  position: absolute;
}

.sec-title h5 {
  padding: 15px 0;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

.sec-title h5 span {
  color: #1e5cb3;
  letter-spacing: 1px;
}

*:focus {
  outline: none;
}

header .header-main .header-top {
  background-color: #1e5cb3;
  padding: 10px;
  text-align: right;
}

header .header-main .header-top span {
  color: white;
  margin-right: 200px;
}

header .header-main .header-middle {
  padding: 10px;
}

header .header-main .header-middle .hmr-logo img {
  height: 100px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-main .hmr-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

header .header-main .hmr-first .hmrf-left {
  padding: 0 10px;
}

header .header-main .hmr-first .hmrf-left span {
  color: grey;
}

header .header-main .hmr-first .hmrf-left h6 {
  font-size: 18px;
}

header .header-main .hmr-second {
  text-align: center;
  margin-top: 40px;
}

header .header-main .hmr-second a {
  background: #ad1a08;
  padding: 15px 25px;
  color: white;
  border-radius: 8px;
}

header .border-bottom-row {
  border-bottom: 3px solid #1e5cb3;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar ul li {
  padding: 0 30px;
  font-weight: 700;
  font-size: 15px;
  color: #5c5b5b;
}

.main-banner {
  overflow: hidden;
  padding-bottom: 100px;
}

.main-banner .main-banner-single {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.main-banner .mbs-text {
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #1e5cb3;
  color: white;
  padding: 50px 80px;
  width: 45%;
  border-radius: 20px;
}

.main-banner .mbs-text ul {
  padding: 10px 0;
}

.main-banner .mbs-text ul li {
  padding-top: 10px;
}

.main-banner .mbs-text ul li i {
  padding-right: 10px;
}

.main-banner .slick-arrow {
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: 2;
  color: white;
  font-size: 20px;
}

.main-banner .slick-list {
  overflow: initial;
}

.main-banner i.fas.fa-chevron-circle-left.slick-arrow {
  left: 65%;
}

.main-banner i.fas.fa-chevron-circle-right.slick-arrow {
  right: 12%;
}

.ma-learn-more {
  padding: 10px 15px;
  background-color: #1e5cb3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0;
  color: white;
}

.ma-learn-more a {
  color: white;
}

.ma-apply-form {
  padding: 30px 200px;
}

.ma-apply-form form {
  padding: 40px 50px;
  -webkit-box-shadow: -1px 7px 7px 1px #c4c4c454;
          box-shadow: -1px 7px 7px 1px #c4c4c454;
}

.ma-apply-form form .form-group {
  margin-bottom: 1rem;
  padding: 10px;
}

.ma-apply-form form .form-group .form-control {
  border: 3px solid #adadad;
  border-radius: 10px;
  padding: 10px 20px;
}

.ma-apply-form form .apply-btn {
  text-align: center;
}

.ma-apply-form form .apply-btn button {
  color: white;
  background-color: #1e5cb3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 100px;
}

.maf-title h4 {
  text-align: center;
  padding: 20px 0;
}

.maf-title span {
  display: block;
  color: #1e5cb3;
  padding: 20px 0;
}

.mt-content {
  position: relative;
}

.mt-content .mt-img-single {
  -webkit-box-shadow: 1px 3px 6px 0px #a7a7a7;
          box-shadow: 1px 3px 6px 0px #a7a7a7;
  margin: 10px;
}

.mt-content .mt-img-single img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mt-content .slick-arrow {
  text-align: center;
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: 2;
  color: black;
  font-size: 25px;
}

.mt-content i.fas.fa-chevron-circle-left.slick-arrow {
  left: 47%;
}

.mt-content i.fas.fa-chevron-circle-right.slick-arrow {
  right: 47%;
}

.md-single {
  padding: 30px 0px;
  -webkit-box-shadow: 1px 3px 6px 0px #a7a7a7;
          box-shadow: 1px 3px 6px 0px #a7a7a7;
  display: inline-block;
  text-align: center;
  margin: 10px 15px;
}

.md-single h5 {
  text-align: center;
  padding: 30px 0;
  color: #1e5cb3;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.md-single a {
  padding: 10px 15px;
  background-color: #1e5cb3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0;
  color: white;
}

.md-image img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}

.main-destination .slick-arrow {
  text-align: center;
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: 2;
  color: black;
  font-size: 25px;
}

.main-destination i.fas.fa-chevron-circle-left.slick-arrow {
  left: 47%;
}

.main-destination i.fas.fa-chevron-circle-right.slick-arrow {
  right: 47%;
}

.ms-banner {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  z-index: 1;
}

.ms-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2b759ad7;
  z-index: -1;
}

.trap-design {
  position: relative;
  top: -19px;
  left: -40px;
  border-bottom: 48px solid #3b5cb3;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  width: 150px;
  -webkit-transform: rotate(316deg);
          transform: rotate(316deg);
}

.msb {
  text-align: center;
  padding-top: 90px;
  text-align: center;
}

.msb i {
  color: whitesmoke;
  font-size: 110px;
  text-align: center;
}

.msb h6 {
  color: whitesmoke;
  padding: 20px;
  font-size: 30px;
  font-weight: 800;
}

.msb-button {
  text-align: center;
}

.msb-button a {
  padding: 10px 15px;
  background-color: whitesmoke;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  display: inline-block;
  border-radius: 5px;
  margin: 50px 0;
  color: #1e5cb3;
  font-weight: 800;
  letter-spacing: 1px;
}

.msb-content {
  position: relative;
}

.msb-content::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  height: 50%;
  width: 6px;
  background-color: whitesmoke;
}

.mm-text {
  padding: 20px 0;
}

.mm-image {
  position: relative;
}

.mm-image img {
  width: 100%;
  height: 495px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.mm-image::after {
  content: "\f10e";
  top: -32px;
  right: -14px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  color: #1e5cb3;
  font-size: 40px;
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 50%;
  line-height: 100px;
  padding: 3px 25px;
}

.mm-caption {
  background-color: white;
  color: #1e5cb3;
  padding: 20px;
  position: relative;
  bottom: 115px;
  text-align: center;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 30px;
}

.mm-caption h4 {
  font-size: 30px;
}

.main-statistics {
  background-color: #003466;
}

.main-statistics .sec-title {
  color: white;
}

.main-statistics .sec-title h3 {
  text-align: center;
}

.main-statistics .sec-title h3::after {
  content: "";
  height: 4px;
  width: 14%;
  background-color: white;
  top: 95%;
  left: 40%;
  position: absolute;
}

.mt-icon {
  color: white;
  padding: 20px 0;
}

.mt-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.mt-icon ul li {
  padding: 0 20px;
}

.mt-icon ul li i {
  font-size: 60px;
}

.mt-icon ul .mti-single {
  text-align: center;
  padding: 0px 64px;
}

.mt-icon ul .mti-single h6 {
  padding: 10px 0;
  font-size: 32px;
  text-align: center;
  font-weight: 800;
}

.mt-icon ul .mti-single span {
  display: block;
  font-size: 18px;
}

.main-testimonial {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  z-index: 1;
  position: relative;
}

.main-testimonial::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2b759ad7;
  z-index: -1;
}

.main-testimonial .sec-title {
  color: white;
}

.main-testimonial .sec-title h3::after {
  content: "";
  height: 4px;
  width: 12%;
  background-color: #f8f9fa;
  top: 95%;
  left: 3%;
  position: absolute;
}

.mt-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  width: 80%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 30px 0;
}

.mt-single .mts-img {
  padding: 0 30px;
  position: relative;
}

.mt-single .mts-img img {
  height: 200px;
  width: 200px;
  border-radius: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.mt-single .mts-img::after {
  content: "\f10e";
  top: -11px;
  right: 10px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  color: #1e5cb3;
  font-size: 25px;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  line-height: 50px;
  padding: 0px 14px;
  z-index: 1;
}

.mt-single .mts-text p {
  color: white;
}

.mt-single .mts-text .mts-info {
  padding: 15px 0;
}

.mt-single .mts-text .mts-info h6 {
  font-size: 18px;
  font-weight: 600;
}

.footer-main {
  padding: 70px 20px;
}

.footer-main .fm-abt img {
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-main .fm-abt p {
  font-size: 13px;
  padding: 10px 0;
}

.fm-single h4 {
  font-weight: 400;
  letter-spacing: 0.01em;
  padding-top: 19px;
  margin: 0 0 36px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  font-size: 30px;
}

.fm-single ul li {
  padding: 5px 0;
}

.fm-single ul li i {
  padding-right: 10px;
}

.fm-links ul li {
  display: inline-block;
  width: 47%;
  padding-bottom: 8px;
}

.fm-social-search input {
  width: 100%;
  position: relative;
  height: 40px;
  padding: 0 50px 0 10px;
}

.fm-social-search button {
  position: absolute;
  right: 15px;
  border: none;
  background: #1e5cb3;
  height: 40px;
  color: white;
  width: 40px;
}
/*# sourceMappingURL=main.css.map */