* {
    padding: 0;
    margin: 0;
}

@import "./base/base";
@import "./base/mixins";
@import "./base/variables";
header {
    .header-main {
        .header-top {
            background-color: $primary-color;
            padding: 10px;
            text-align: right;
            span {
                color: white;
                margin-right: 200px;
            }
        }
        .header-middle {
            padding: 10px;
            .hmr-logo {
                img {
                    height: 100px;
                    width: 300px;
                    object-fit: cover;
                }
            }
        }
        .hmr-first {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 10px;
            .hmrf-left {
                padding: 0 10px;
                span {
                    color: grey;
                }
                h6 {
                    font-size: 18px;
                }
            }
        }
        .hmr-second {
            text-align: center;
            margin-top: 40px;
            a {
                background: $secondary-color;
                padding: 15px 25px;
                color: white;
                border-radius: 8px;
            }
        }
    }
    .border-bottom-row {
        border-bottom: 3px solid $primary-color;
    }
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            li {
                padding: 0 30px;
                font-weight: 700;
                font-size: 15px;
                color: rgb(92, 91, 91);
            }
        }
    }
}

// INDEX.PHP
.main-banner {
    overflow: hidden;
    padding-bottom: 100px;
    .main-banner-single {
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .mbs-text {
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        background: $primary-color;
        color: white;
        padding: 50px 80px;
        width: 45%;
        border-radius: 20px;
        ul {
            padding: 10px 0;
            li {
                padding-top: 10px;
                i {
                    padding-right: 10px;
                }
            }
        }
    }
    .slick-arrow {
        text-align: center;
        padding: 10px;
        position: absolute;
        bottom: -10%;
        left: 50%;
        z-index: 2;
        color: white;
        font-size: 20px;
    }
    .slick-list {
        overflow: initial;
    }
    i.fas.fa-chevron-circle-left.slick-arrow {
        left: 65%;
    }
    i.fas.fa-chevron-circle-right.slick-arrow {
        right: 12%;
    }
}

// MAIN ABOUT PHP
.ma-learn-more {
    @include btn-learn-more();
    a {
        color: white;
    }
}

.ma-apply-form {
    padding: 30px 200px;
    form {
        padding: 40px 50px;
        box-shadow: -1px 7px 7px 1px #c4c4c454;
        .form-group {
            margin-bottom: 1rem;
            padding: 10px;
            .form-control {
                border: 3px solid rgb(173, 173, 173);
                border-radius: 10px;
                padding: 10px 20px;
            }
        }
        .apply-btn {
            text-align: center;
            button {
                color: white;
                background-color: $primary-color;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                margin-top: 100px;
            }
        }
    }
}

.maf-title {
    h4 {
        text-align: center;
        padding: 20px 0;
    }
    span {
        display: block;
        color: $primary-color;
        padding: 20px 0;
    }
}

.mt-content {
    position: relative;
    .mt-img-single {
        box-shadow: 1px 3px 6px 0px #a7a7a7;
        margin: 10px;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }
    .slick-arrow {
        text-align: center;
        position: absolute;
        bottom: -10%;
        left: 50%;
        z-index: 2;
        color: black;
        font-size: 25px;
    }
    i.fas.fa-chevron-circle-left.slick-arrow {
        left: 47%;
    }
    i.fas.fa-chevron-circle-right.slick-arrow {
        right: 47%;
    }
}

// MAIN DESTINATION PREPARATION
.md-single {
    padding: 30px 0px;
    box-shadow: 1px 3px 6px 0px #a7a7a7;
    display: inline-block;
    text-align: center;
    margin: 10px 15px;
    h5 {
        text-align: center;
        padding: 30px 0;
        color: $primary-color;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    a {
        @include btn-learn-more();
    }
}

.md-image {
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 50px;
    }
}

.main-destination {
    .slick-arrow {
        text-align: center;
        position: absolute;
        bottom: -10%;
        left: 50%;
        z-index: 2;
        color: black;
        font-size: 25px;
    }
    i.fas.fa-chevron-circle-left.slick-arrow {
        left: 47%;
    }
    i.fas.fa-chevron-circle-right.slick-arrow {
        right: 47%;
    }
}

.ms-banner {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #2b759ad7;
        z-index: -1;
    }
}

.trap-design {
    position: relative;
    top: -19px;
    left: -40px;
    border-bottom: 48px solid #3b5cb3;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    width: 150px;
    transform: rotate(316deg);
}

// OUR DESTINAION
.msb {
    text-align: center;
    padding-top: 90px;
    text-align: center;
    i {
        color: whitesmoke;
        font-size: 110px;
        text-align: center;
    }
    h6 {
        color: whitesmoke;
        padding: 20px;
        font-size: 30px;
        font-weight: 800;
    }
}

.msb-button {
    // @include btn-learn-more();
    text-align: center;
    a {
        padding: 10px 15px;
        background-color: whitesmoke;
        transition: all 0.3s ease;
        border: none;
        display: inline-block;
        border-radius: 5px;
        margin: 50px 0;
        color: #1e5cb3;
        font-weight: 800;
        letter-spacing: 1px;
    }
}

.msb-content {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 25%;
        left: 0;
        height: 50%;
        width: 6px;
        background-color: whitesmoke;
    }
}

.mm-text {
    padding: 20px 0;
}

.mm-image {
    position: relative;
    img {
        width: 100%;
        height: 495px;
        object-fit: cover;
        border-radius: 30px;
    }
    &::after {
        content: "\f10e";
        top: -32px;
        right: -14px;
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 800;
        color: #1e5cb3;
        font-size: 40px;
        height: 100px;
        width: 100px;
        background: white;
        border-radius: 50%;
        line-height: 100px;
        padding: 3px 25px;
    }
}

.mm-caption {
    background-color: white;
    color: #1e5cb3;
    padding: 20px;
    position: relative;
    bottom: 115px;
    text-align: center;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    h4 {
        font-size: 30px;
    }
}

// MAIN STATISTICS
.main-statistics {
    background-color: #003466;
    .sec-title {
        color: white;
        h3 {
            text-align: center;
            &::after {
                content: "";
                height: 4px;
                width: 14%;
                background-color: white;
                top: 95%;
                left: 40%;
                position: absolute;
            }
        }
    }
}

.mt-icon {
    color: white;
    padding: 20px 0;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        li {
            padding: 0 20px;
            i {
                font-size: 60px;
            }
        }
        .mti-single {
            text-align: center;
            padding: 0px 64px;
            h6 {
                padding: 10px 0;
                font-size: 32px;
                text-align: center;
                font-weight: 800;
            }
            span {
                display: block;
                font-size: 18px;
            }
        }
    }
}

// MAIN TESTIMONIAL
.main-testimonial {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    z-index: 1;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #2b759ad7;
        z-index: -1;
    }
    .sec-title {
        color: white;
        h3 {
            &::after {
                content: "";
                height: 4px;
                width: 12%;
                background-color: #f8f9fa;
                top: 95%;
                left: 3%;
                position: absolute;
            }
        }
    }
}

.mt-single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 0;
    .mts-img {
        padding: 0 30px;
        position: relative;
        img {
            height: 200px;
            width: 200px;
            border-radius: 30px;
            -o-object-fit: cover;
            object-fit: cover;
        }
        &::after {
            content: "\f10e";
            top: -11px;
            right: 10px;
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 800;
            color: #1e5cb3;
            font-size: 25px;
            height: 50px;
            width: 50px;
            background: white;
            border-radius: 50%;
            line-height: 50px;
            padding: 0px 14px;
            z-index: 1;
        }
    }
    .mts-text {
        p {
            color: white;
        }
        .mts-info {
            padding: 15px 0;
            h6 {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

// FOOTER
.footer-main {
    padding: 70px 20px;
    .fm-abt {
        img {
            height: 100px;
            width: 100%;
            object-fit: contain;
        }
        p {
            font-size: 13px;
            padding: 10px 0;
        }
    }
}

.fm-single {
    h4 {
        font-weight: 400;
        letter-spacing: 0.01em;
        padding-top: 19px;
        margin: 0 0 36px;
        padding-bottom: 18px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        font-size: 30px;
    }
    ul {
        li {
            padding: 5px 0;
            i {
                padding-right: 10px;
            }
        }
    }
}

.fm-links {
    ul {
        li {
            display: inline-block;
            width: 47%;
            padding-bottom: 8px;
        }
    }
}

.fm-social-search {
    input {
        width: 100%;
        position: relative;
        height: 40px;
        padding: 0 50px 0 10px;
    }
    button {
        position: absolute;
        right: 15px;
        border: none;
        background: $primary-color;
        height: 40px;
        color: white;
        width: 40px;
    }
}